@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  background-color: #000000;
  font-family: 'Montserrat', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@layer components {
  .button {
    @apply  bg-[#0101F9] hover:bg-blue-700 text-white font-bold  py-1 px-4 rounded-full flex items-center space-x-2 ;
  }
  .emblem{
    @apply inline-block mt-3 text-[clamp(0.65rem,0.8vw,0.8rem)] text-white bg-blue-900/60 border border-blue-500/40 px-3 py-1 rounded-full m-2
  }
  .button:hover {
    @apply bg-blue-500;
  }
  
  .font-agdasima {
    font-family: 'Agdasima', sans-serif;
  }
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
 
} 
